
.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.videoPannel {
  background: radial-gradient(#041953, black);
  /*background-color: black;   */
  max-height: calc(100vh - 69px);
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex:10;
  transition: 500ms;
  position: relative;
  overflow: hidden;
}

.track video
{
  max-width: 100%;
  
  background-color: #282c34;
  margin-top: 2%;
  background-repeat: no-repeat;
  transform: scale(-1,1);
}

.track{
  text-align: center;
}

.audio{
  display: none;
}

.conferenceRoom{
  width:100% !important;
  transition: 500ms;
  margin-left:0 !important;
}

.conferenceRoomAside{
  width:75vw !important;
}

.connectingDialog{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}